---
id: cloudpush
layout: demo
title: Cloud Push
---
<div>
    <h2>Cloud Push</h2>
    <fieldset class="desc">
        <div class="row"><p class="normalText">Cloud Push with BridgeIt...</p></div>
        <div class="row">
{% highlight javascript %}
bridgeit.push( bridgeit.getId(),
   {subject:'BridgeIt Cloud Push',
    detail:'You have been notified.', 
    delay:10000} );
{% endhighlight %}
        </div>
    </fieldset>

    {% include button.html id="regBtn" onclick="bridgeit.register('_reg');" text="Enable Cloud Push" %}
  
    {% include button.html id="pushBtn" onclick="delayedPush();" text="Push in 10 seconds ..." %}
  
    <fieldset>
        <div class="row"></div>
    </fieldset>
    <fieldset id="notifications">
    </fieldset>
    <script type="text/javascript">

    if (bridgeit.isRegistered())  {
        document.getElementById('regBtn').style.visibility = 'hidden';
    }

    function handleReg(event)  {
        if (bridgeit.isRegistered())  {
            document.getElementById('regBtn').style.visibility = 'hidden';
        }
    }

    function handlePush()  {
        var now = new Date();
        var outDiv = document.getElementById("notifications");
        var row = document.createElement("div");
        row.style["background-color"] = "#FF855E";
        outDiv.insertBefore(row, outDiv.firstChild);
            row.innerHTML =
            "<b>You have been notified:</b> " + simpleTime();
        window.setTimeout(function() {
            row.style["background-color"] = "white";
        }, 3000)
            
    }

    bridgeit.usePushService(window.pushHub, window.apiKey);
    bridgeit.addPushListener(bridgeit.getId(), 'handlePush');

    //move pause and resume to ICEpush when ready
    function pausePush()  {
       if (window.ice && ice.push)  {
           ice.push.connection.pauseConnection();
       }
    }
    function resumePush()  {
       if (window.ice && ice.push)  {
           ice.push.connection.resumeConnection();
       }
    }

    document.addEventListener("webkitvisibilitychange", function () {
        if (document.webkitHidden)  {
            pausePush();
        } else {
            resumePush();
        }
    });

    document.addEventListener("visibilitychange", function () {
        if (document.hidden)  {
            pausePush();
        } else {
            resumePush();
        }
    });

    function delayedPush()  {
        bridgeit.push( bridgeit.getId(),
            {subject:'BridgeIt Cloud Push',
            detail:'You have been notified.', delay:10000} );
    }
    </script>
</div>
