---
id: home
layout: demo
title: BridgeIt
---
    <div class="splash">
         <div class="row">
            <p class="banner-text">Easily add native mobile features to your web apps</p>
            <img src="../images/banner-image.png"/>
            <a class="get-started" id="getStarted">Try it! <i class="icon-caret-down"></i></a>
            <script type="text/javascript">
            /*
               $("#getStarted").click(function() {
                   $('html, body').animate({
                       scrollTop: $("#menu").offset().top - 40
                   }, 1000);
               });*/
               </script>
        </div>
    </div>
    <ul id="menu" class="menu ui-listview">
        {% include list-item.html icon="camera" label="Camera" url="camera.html" %}
        {% include list-item.html icon="facetime-video" label="Camcorder" url="camcorder.html" %}
        {% include list-item.html icon="qrcode" label="Scan" url="scan.html" %}
        {% include list-item.html icon="microphone" label="Microphone" url="microphone.html" %}
        <li class="ui-btn ui-btn-up-c ui-btn-icon-right ui-li-has-arrow ui-li">
          <div class="ui-btn-inner ui-li">
            <div class="ui-btn-text">
              <a href="contact-list.html" class="ui-link-inherit">
                <i class="icon-calendar-empty"></i>
                <i style="font-style:normal;position:absolute;margin-left: -28px;font-size: 10px;margin-top: 4px;">@</i>
                Contact List
              </a>
              <i class="icon-chevron-right"></i>
            </div>
            <span class="ui-icon ui-icon-arrow-r ui-icon-shadow">&nbsp;</span>
          </div>
        </li>
        {% include list-item.html icon="location-arrow" label="GeoSpy" url="geospy.html" %}
        {% include list-item.html icon="compass" label="Augmented Reality" url="augmented-reality.html" %}
        {% include list-item.html icon="comment" label="SMS" url="sms.html" %}
        {% include list-item.html icon="cloud-download" label="Cloud Push" url="cloud-push.html" %}
        {% include list-item.html icon="book" label="Documentation" url="http://bridgeit.github.io/docs/" %}
        {% include list-item.html icon="group" label="Forums" url="http://bridgeit.mobi/forums" %}
        {% include list-item.html icon="info-sign" label="About" url="http://bridgeit.github.io/" %}
    </ul>
