	<div class="hdr {% if page.id != "home" %}demo{% endif %} ui-header ui-bar-a ui-header-fixed slidedown ">
	    <a class="btnBack ui-btn-left ui-btn ui-shadow ui-btn-corner-all ui-btn-up-a" 
	    {% if page.id == "home" %}style="width:0;opacity: 0"{% endif %} {% if page.id == 'notsupported' %}style="width:0;opacity: 0"{% endif %}
	    	href="./index.html">
	    	<span class="ui-btn-inner">
	    		<span class="ui-btn-text">
	    			<i class="icon-chevron-left"></i>
	    		</span>
	    	</span>
	    </a>
	    <h1 class="ui-title">
	    	<span class="bridge-font-color">Bridge</span>
	    	<span class="it-font-color">It</span>
	    </h1>
	</div>
