	<div class="hdr {% if page.id != "home" %}demo{% endif %} ui-header ui-bar-a ui-header-fixed slidedown ">
		{% if page.id == "home" %}
		<h1 class="ui-title">
	    	<span class="bridge-font-color">Bridge</span>
	    	<span class="it-font-color">It</span>
	    </h1>
		{% else %}
		<a class="btnBack ui-btn-left ui-btn ui-shadow ui-btn-corner-all ui-btn-up-a" 
	    	href="./menu.html">
	    	<span class="ui-btn-inner">
	    		<span class="ui-btn-text">
	    			<i class="icon-chevron-left"></i>
	    		</span>
	    	</span>
	    </a>
	    <a href="./menu.html">
		    <h1 class="ui-title">
		    	<span class="bridge-font-color">Bridge</span>
		    	<span class="it-font-color">It</span>
		    </h1>
	    </a>
		{% endif %}
	</div>
